@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
}

/* ***** Bouton dans la localisation ***** */
.location__btn {
  width: 240px;
  height: 60px;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 15rem;
  border: none;
  box-shadow: 0 5px 5px 0 rgb(180, 180, 180);
  color: white;
  font-size: 1em;
}

body {
  box-sizing: border-box;
  max-width: 1560px;
  margin: 0;
  padding: 0;
}

.bloc_page {
  margin: auto;
  width: 100%;
}
.bloc_page p {
  font-family: roboto, sherif, sans sherif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", sherif, sans sherif;
}

/* ***** ENLEVER LES LIEN SOULIGNER ***** */
a:link {
  text-decoration: none;
}

.location {
  width: 100%;
  height: 350px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location__bar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 234, 234);
  box-shadow: inset 0em 0.3em rgba(49, 49, 49, 0.04);
}
.location__bar i {
  margin: 15px;
}
.location__text {
  width: 68%;
  font-family: "Roboto", sherif, sans sherif;
  text-align: center;
  padding: 20px 0 20px 0;
}

/* ***** Liste Accueil/functioning__list ***** */
.functioning {
  width: 100%;
}
.functioning ul {
  width: 100%;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}
.functioning h2 {
  margin-left: 20px;
}
.functioning__list {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  margin: 0 0 15px 10px;
  background-color: whitesmoke;
  border-radius: 18px;
  box-shadow: 0px 5px 10px 0px gainsboro;
  list-style-type: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.1em;
}
.functioning__list:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.functioning__num {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  transform: translate(-15px, 0px);
}
.functioning i {
  margin-right: 50px;
  color: rgb(128, 128, 128);
}
.functioning:hover i {
  color: #9356dc;
}

/* ***** RESTAURANT ***** */
.restaurant {
  width: 100%;
  background-color: whitesmoke;
  padding-bottom: 50px;
}
.restaurant__title {
  padding-top: 20px;
}
.restaurant__card {
  width: 90%;
  height: 260px;
  background-color: white;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px gainsboro;
}
.restaurant__img {
  width: 100%;
  height: 170px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  position: relative;
}
.restaurant__img img {
  object-fit: cover;
  max-width: 100%;
}
.restaurant__text {
  color: black;
  margin-left: 20px;
}
.restaurant__text h3 {
  margin-bottom: 0;
  font-size: 1.4em;
}
.restaurant__text p {
  margin-top: 7px;
  font-size: 1.2em;
}
.restaurant__card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.restaurant__new {
  position: absolute;
  right: 50px;
}

/*# sourceMappingURL=style.css.map */
