.btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
}

/* ***** Bouton dans la localisation ***** */
.location__btn {
  width: 240px;
  height: 60px;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 15rem;
  border: none;
  box-shadow: 0 5px 5px 0 rgb(180, 180, 180);
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: opacity 1s;
  &:hover {
    opacity: 0.5;
    box-shadow: 0 8px 15px 0 rgb(0 0 0);
  }
}

.selection__btn {
  width: 90%;
  height: 70px;
  background-color: white;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px 0$color-shadow;
  border-radius: 20px;
  padding: 20px 0 0 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  & h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.3em;
  }
  & p {
    margin: 0;
  }
  & span {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: 600;
  }
}

.comeback__btn {
  width: 20px;
  height: 20px;
  position: relative;
  left: -90px;
  font-size: 1.6em;
}
