.btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
}

/* ***** Bouton dans la localisation ***** */
.location__btn {
  width: 240px;
  height: 60px;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 15rem;
  border: none;
  box-shadow: 0 5px 5px 0 rgb(180, 180, 180);
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: opacity 1s;
  &:hover {
    opacity: 0.5;
    box-shadow: 0 8px 15px 0 rgb(0 0 0);
  }
}

/* ****** BARRE DES SELECTION DES ENTREE PLAT MENU ****** */
.selection__btn {
  width: 95%;
  height: 80px;
  background-color: white;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px 0$color-shadow;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include desktop-only {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }

  & p {
    margin: 0;
  }

  &__text {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    padding: 30px 0 10px 10px;

    & span {
      font-size: 1.3em;
      font-weight: 800;
    }
  }

  &__prix {
    width: 20px;
    height: 100%;
    font-size: 1em;
    font-weight: 900;
    margin: 70px 20px 0 0;
    text-align: right;
  }
}

/* ***** BOUTON DE RETOUR A LA PAGE D ACCUEIL ***** */
.comeback__btn {
  width: 20px;
  height: 20px;
  position: relative;
  left: -90px;
  font-size: 1.6em;
}
