.location {
  width: 100%;
  height: 350px;
  background-color: $color-quaternary;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 234, 234);
    box-shadow: inset 0em 0.3em rgba(49, 49, 49, 0.04);
    & i {
      margin: 15px;
      color: black;
    }
  }
  &__text {
    width: 68%;
    font-family: $text-font;
    text-align: center;
    padding: 20px 0 20px 0;
  }
}
/* ***** Liste Accueil/functioning__list ***** */
.functioning {
  width: 100%;

  & h2 {
    margin-left: 20px;
    @include tablet-desktop {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
  }

  & ul {
    width: 100%;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    @include tablet-only {
      display: flex;
      margin-left: 2%;
    }

    @include desktop-only {
      display: flex;
      justify-content: space-around;
    }
  }

  &__list {
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 0 15px 10px;
    background-color: $color-quaternary;
    border-radius: 18px;
    box-shadow: 0px 5px 10px 0px $color-shadow;
    list-style-type: none;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.1em;

    @include tablet-desktop {
      width: 27%;
      margin-right: 4%;
      margin-bottom: 50px;
      font-size: 0.9em;
    }

    &:hover {
      background-color: rgba(147, 86, 220, 0.1);
      i {
        color: $color-primary;
      }
    }
  }
  &__num {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    transform: translate(-15px, 0px);
  }
  & i {
    margin-right: 50px;
    color: rgb(128, 128, 128);
    @include tablet-only {
      visibility: hidden;
      margin: 0;
    }
    @include desktop-only {
      margin-right: 30%;
    }
  }
}

/* ***** RESTAURANT ***** */

.restaurant {
  width: 100%;
  background-color: $color-quaternary;
  padding-bottom: 50px;
  @include desktop-only {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    padding: 20px 0 0 25px;
    @include tablet-desktop {
      text-align: center;
      margin-left: 0;
    }
    @include desktop-only {
      text-align: center;
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__card {
    width: 90%;
    height: 350px;
    background-color: white;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px $color-shadow;
    overflow: hidden;
    position: relative;
    @include desktop-only {
      width: 47%;
      margin-bottom: 50px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  &__text {
    color: black;
    margin-left: 20px;
  }
  &__text h3 {
    margin: 10px 0 0 0;

    font-size: 1.4em;
  }
  &__text p {
    margin-top: 7px;
    font-size: 1.2em;
  }

  &__new {
    width: 100px;
    height: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 30px;
    color: #0c6b50;
    background: #99e2d0;
    font-size: 1.3em;
    font-weight: 700;
  }
  &__heart {
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 2em;
  }
}
