.location {
  width: 100%;
  height: 350px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 234, 234);
    box-shadow: inset 0em 0.3em rgba(49, 49, 49, 0.04);
    & i {
      margin: 15px;
    }
  }
  &__text {
    width: 68%;
    font-family: $text-font;
    text-align: center;
    padding: 20px 0 20px 0;
  }
}
