.menu {
  overflow: hidden;
  width: 100%;
  height: 270px;
  position: relative;
  & img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
  &__title {
    width: 100%;
    height: 100px;
    background-color: $color-quaternary;
    border-radius: 40px 40px 0 0;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    & h2 {
      font-family: $title-font;
      font-weight: 595;
      font-size: 1.8em;
      margin-left: 20px;
      @include tablet-desktop {
        width: 100%;
        text-align: center;
      }
    }
    &__heart {
      position: absolute;
      right: 0px;
      bottom: -5px;
    }
    & i {
      margin-left: 50px;
      font-size: 1.6em;
    }
  }
}

/* ***** REGROUPEMENT MENU PLAT DESSERT ***** */
.selection {
  width: 100%;
  background-color: $color-quaternary;
  font-family: $text-font;

  @include desktop-only {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* ***** BOUTTON "COMMANDER DE BAS DE PAGE" ***** */
  & .button__validation {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.command {
  padding-top: 30px;
  @include desktop-only {
    width: 30%;
    margin-left: 50px;
  }

  /* ***** TITRE DES MENU PLAT DESSERT ***** */
  &__title {
    margin: 0px 0 30px 15px;
    color: rgb(129, 128, 128);
    font-weight: 400;
    font-size: 1.3em;

    @include tablet-only {
      margin-left: 30px;
    }

    &__border {
      border-bottom: 3px solid #99e2d0;
      padding-bottom: 5px;
    }
  }
}
