/* ***** BOUTON DU COEUR TOTAL ***** */
.boite {
  width: 40px;
  height: 30pxpx;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

/*  BOUTONS - checkbox like  */
.checkbox-like {
  font-size: 25px;
  cursor: pointer;
}

.checkbox-like.checkbox-like--position {
  position: initial;
  margin-top: 20px;
}

.checkbox-like input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.checkbox-like input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

.checkbox-like input[type="checkbox"],
.checkbox-like .checked {
  display: none;
  animation: like 2s;
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: linear-gradient(to bottom, #9356dc, #ff79da);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to bottom, #9356dc, #ff79da);
    -webkit-background-clip: text;
  }
}

/* ***** VALIDATION DES MENU ***** */
.check_move {
  width: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #99e2d0;
  transition: width 425.957ms ease 0ms;
}
.selection__btn:hover .check_move {
  width: 70px;
}

.validation {
  font-size: 2em;
  color: white;
  width: 0px;
  height: 30px;
  opacity: 0;
  transition: all 326.511ms ease 0ms;
}

.selection__btn:hover .validation {
  width: 30px;
  opacity: 1;
  -webkit-animation: rotate-center 0.6s both;
  animation: 527.069ms ease 157.568ms 1 normal both running rotate-center;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
