$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-Tertiary: #99e2d0;
$color-quaternary: whitesmoke;
$color-shadow: gainsboro;

$text-font: "Roboto", sherif, sans sherif;
$title-font: "Shrikhand", sherif, sans sherif;
