body {
  box-sizing: border-box;
  max-width: 1560px;
  margin: 0;
  padding: 0;
}

.bloc_page {
  margin: auto;
  width: 100%;
  & p {
    font-family: roboto, sherif, sans sherif;
  }
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $title-font;
}
